.product-sales {
  padding-bottom: 60px;
  .products-shopping {
    display: grid;
    color: $black;
    cursor: pointer;
    padding: 0;
    .image-description {
      .textbox {
      position: absolute;
      top: 60px;
      left: 30px;
      right: auto;
      }
    }
    div {
      border-radius: 6px;
      h2,
      h3 {
        font-family: $open-sans;
        font-weight: 900;
        line-height: 1.4;
        font-size: 40px;
      }
      p {
        margin-bottom: 3px;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
      }
      a {
        text-decoration: none;
        color: $black;
        text-decoration: underline;
      }
    }
    .lavatory-basins {
      p {
        text-transform: uppercase;
      }
    }
    .kitchen-bath {
      border-radius: 0;  
      h2 {
        font-size: 24px;
        span {
          font-size: 50px;
          line-height: 52px;
        }
      }
    }
    .toilet-part {
      color: $black;
      a {
        color: $black;
      }
    }
    .toilet-faucet-part {
      padding: auto;
    }
    &:hover {
      transition: all 0.5s;
    }
  }
}
